# Dependencies
node_modules
.pnpm-store

# Nuxt build / dev output
.nuxt
.output
.data
dist

# Cache
.cache
.parcel-cache

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/settings.json
.idea
*.swp
*.swo
